@font-face {
  font-family: "IBM Plex Sans";
  src: local("IBM Plex Sans"), local("IBMPlexSans"),
    url("../fonts/IBMPlexSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: local("IBM Plex Mono"), local("IBMPlexMono"),
    url("../fonts/IBMPlexMono-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  unicode-range: U+0-FF, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC,
    U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF,
    U+FFFD;
}

:root {
  --dark-bg: #282c35;
  --dark-text-color: #ffffffbd;
  --dark-time-color: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 20px;
  line-height: 1.8;
  margin: 0;
  padding-top: 6rem;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 400;
  line-height: 130%;
  color: inherit;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 45px;
}

h3 {
  font-size: 25px;
}

a {
  color: #4788f2;
  text-decoration: none;
}

main#content {
  max-width: 700px;
  margin: auto;
}

time {
  font-size: 16px;
  color: #666;
  margin-bottom: 0;
  display: block;
  font-weight: 600;
  font-family: "IBM Plex Mono", monospace;
}

article {
  margin-bottom: 3rem;
}

article::before {
  content: attr(data-year);
  display: block;
  opacity: 0.3;
}

article h3 {
  margin-bottom: 0.5rem;
}

article p {
  margin-top: 0;
}

/* Header */

header,
header nav,
header nav ul {
  display: flex;
}

header {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(128, 128, 128, 0.25);
  justify-content: space-between;
  padding: 0.5rem 1rem;
  position: fixed;
  top: 0;
  text-transform: lowercase;
  width: 100%;
}

header nav ul {
  align-items: center;
  line-height: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin: 0 0.8rem;
}

header nav ul + ul {
  margin-left: 1rem;
}

.social-nav > li:last-child {
  margin-right: 0;
}

.social-nav__menuItem {
  display: block;
  font-size: 0;
}

.highlight pre {
  overflow-x: scroll;
  padding: 1rem;
}

hr {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 3rem;
}

footer {
  color: #dfdfdf;
  font-size: 70%;
  padding: 0.5rem 1rem;
}
